.profile{
    background-color: white;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
}
.profie_name{
    line-height: 18px;
    padding: 20px;
}
.profie_name .name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
.profie_name .tiltle{
    font-size: 13px;
    color: #777;
}
.profile_image{
    margin-top: -10px;
    -webkit-clip-path: polygon(0% 9%, 100% 0, 100% 94%,0% 100%);
    clip-path: polygon(0% 9%, 100% 0, 100% 94%,0% 100%);
    

}
.profile_image img{
    width: 100%;
    height: 250px;
    /* padding: 0 10px 0 10px; */
}
/* profile info */
.profie_information{
    top: 0;
    left: 0;
    margin: -47px 10px 30px;
}
/* .profie_information .timeline .timeline_content{
    margin-top: 2px;
    margin-bottom: 12px;
} */
.timeine_text{
    color: #777;
    font-size: 13.5px !important;
    font-weight: 400 !important;
}
.timeine_text > span {
    color: black !important;
    font-weight: 500 !important;
}
.profile .button_container{
    display: flex;
    justify-content: center;
}