*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main_color: #425cbb;
}
.mt_30{
  margin-top: 30px !important;
}
.mb_30{
  margin-bottom: 30px !important;
}
.p_30{
  padding: 30px !important;
}
.pb_45{
  padding-bottom: 45px !important;
}
.top_30{
  margin-top: 30px  ;
}
/* end margin and Padding */
.container_shadow{
  box-shadow: 0px 2px 92px 0px rgba(0,0,0,0.13);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0,0,0,0.13);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0,0,0,0.13);
}

.main_content{
  background-color: #fff;
  min-height: 100vh;
  border-radius: 7.5px;
  -moz-border-radious: 7.5px;
  -webkit-border-radious: 7.5px;
  margin-bottom: 20px;
  padding: 30px;
  
}
.section_title{
  position: relative;
  display: inline-block;
  padding: 0px 3px;
}
.section_title .section_title_text {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0;
}
.section_title span{
  position: absolute;
  height: 5px;
  width: 100%;
  top: 16px;
  opacity: 0.4;
  left: 0;
  background-color: var(--main_color);
}
